.page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; 
}

/* HEADER */
.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.stats {
  display: flex;
  gap: 12px;
}

.card {
  background: white;
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.card-today {
  background: #fff7ed;
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.card-month {
  background: #d7e2aa;
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.add-btn {
  background: #2563eb;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
}

.add-btn:hover{
  cursor: pointer;
  transition: all 0.2s ease;
  background: #346eec;; 
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* SEARCH */
.search-bar {
  margin-bottom: 12px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-top: none;
  border-left: none;
  border-right: none;
}

/* TABLE */
.table {
  border: 1px solid #eee;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  height: calc(100vh - 260px); /* adjust if needed */
}

.table-body {
  overflow-y: auto;
  flex: 1;
  scrollbar-width: thin;
}

.row {
  display: grid;
  grid-template-columns: 4fr 4fr 2fr 1.2fr 1.2fr 1fr;
  border-bottom: 1px solid #eee;
  align-items: center;
}

.row > div {
  padding: 14px 16px;
}

.header {
  font-weight: 600;
  background: #f8fafc;

  position: sticky;
  top: 0;
  z-index: 3;

  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.row:hover {
  background: #f8fafc;
  cursor: pointer;
}

.filter input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
}

.no-data {
  padding: 20px;
  text-align: center;
}
