<div class="header">

   <div class="left">

     <!-- TOGGLE BUTTON -->
    <div class="toggle" (click)="toggle.emit()">
      ☰
    </div>

    <img
  [src]="collapsed ? 'assets/logo-small.png' : config.clinic.logo"
  class="logo"
/>
    <span class="title">{{ config.clinic.name }}</span>
  </div>


  <div class="right">

    <div class="user-info">
      {{userName}} ({{role}})
    </div>

    <div class="datetime">
      <span class="time">{{time}}</span>
      <span class="date">{{date}}</span>
    </div>

    <div class="logout" (click)="logout()">
      Logout
    </div>

  </div>

</div>