.dashboard {
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.card:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.title {
  font-weight: 600;
}