.page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; 
}

/* HEADER */
.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.stats-card {
  background: white;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.add-btn {
  background: #2563eb;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
}

/* BULK BAR */
.bulk-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 14px 18px;
  border-radius: 12px;
  margin-bottom: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.bulk-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.bulk-left select,
.bulk-left input {
  height: 34px;
  padding: 0 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.apply-btn {
  background: #2563eb;
  color: white;
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
}

/* TABLE */
.table {
  border: 1px solid #eee;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  height: calc(100vh - 260px); /* adjust if needed */
}

/* GRID */
.row {
  display: grid;
  grid-template-columns: 60px 1.5fr 1.5fr 1fr 1fr 1fr 1.2fr 1.5fr 1.5fr;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.row > div {
  padding: 14px 16px;
}

/* HEADER */
.header {
  font-weight: 600;
  background: #f8fafc;

  position: sticky;
  top: 0;
  z-index: 3;
}

/* FILTER */
.filter {
  background: white;

  position: sticky;
  top: 52px;
  z-index: 3;
}

/* SCROLL AREA */
.table-body {
  overflow-y: auto;
  flex: 1;
  scrollbar-width: thin;
}

/* FILTER INPUT */
.filter input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  background: transparent;
  outline: none;
}

.filter input:focus {
  border-bottom: 2px solid #2563eb;
}

/* CENTER */
.center {
  display: flex;
  justify-content: center;
}

/* FINAL */
.final {
  color: #16a34a;
  font-weight: 600;
}

/* ACTIONS */
.actions {
  display: flex;
  gap: 6px;
}

.edit {
  background: #e0f2fe;
  color: #0369a1;
  border: none;
  padding: 5px 8px;
  border-radius: 6px;
}

.edit:hover{
  cursor: pointer;
  transition: all 0.2s ease;
  background: #ebf5fb; 
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.delete {
  background: #fee2e2;
  color: #b91c1c;
  border: none;
  padding: 5px 8px;
  border-radius: 6px;
}

.delete:hover{
  cursor: pointer;
  transition: all 0.2s ease;
  background: #fcecec;; 
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* NO DATA */
.no-data {
  text-align: center;
  padding: 40px;
}

/* OPTIONAL SHADOW */
.header {
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}