.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

html, body {
  height: 100%;
  overflow: hidden; /* 🔥 stops page scroll */
}

/* BELOW HEADER */
.body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.content > * {
  width: 100%;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

app-loader,
app-toast {
  position: fixed;
  z-index: 9999;
}