.page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; 
}


/* CARD */
.card {
  background: #fff;
  border-radius: 14px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.code {
  font-size: 12px;
  color: #64748b;
}

.badge {
  background: #22c55e;
  color: white;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  gap: 10px;
}

.full {
  margin-top: 10px;
}

/* TABLE */
.table {
  border: 1px solid #eee;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  height: calc(100vh - 260px); /* adjust if needed */
}

.header {
  font-weight: 600;
  background: #f8fafc;

  position: sticky;
  top: 0;
  z-index: 3;

  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}


.row {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 1.5fr 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.row > div {
  padding: 14px 16px;
}

.table-body {
  overflow-y: auto;
  flex: 1;
  scrollbar-width: thin;
}

.header {
  background: #f8fafc;
  font-weight: bold;
}

.actions span {
  margin-right: 10px;
  cursor: pointer;
}

.services-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.no-data {
  text-align: center;
  padding: 40px;
}


/* PRINT */
.print-area {
  position: absolute;
  left: -9999px;
}